layout {

    focus-ring {
        active-color   "#6771e4"
        inactive-color "#13142b"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6771e4"
        inactive-color "#13142b"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#13142b70"
    }

    tab-indicator {
        active-color   "#6771e4"
        inactive-color "#0c168d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6771e480"
    }
}

recent-windows {
    highlight {
        active-color "#6771e4"
        urgent-color "#fd4663"
    }
}
